p {
    font-family: "Montserrat";
    color: white;
    font-size: 1.2rem;
    padding: 15px;
}

h2,
h3 {
    font-family: "MedievalSharp";
    color: white;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    color: goldenrod;
    position: relative;

    &::after {
        color: white;
        width: 100%;
        position: absolute;
        opacity: 0.1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.7);
    }
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

@import'_book.scss';
@import '_movie.scss';
@import '_media.scss';